<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="rPlaneDB" connectionString="Data Source=BKOLODZI\SQLEXPRESS;Initial Catalog=rPlaneDB;Integrated Security=True" providerName="System.Data.SqlClient" />
  <add name="rPlaneDBEntities" connectionString="metadata=res://*/RPlaneDatabase.csdl|res://*/RPlaneDatabase.ssdl|res://*/RPlaneDatabase.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=BKOLODZI\SQLEXPRESS;initial catalog=rPlaneDB;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>